body {
  background-color: rgba(196, 208, 211, 0.433);
}
  
  .resume-div{
    margin-left: 20%;
    margin-right: 15%;
    margin-bottom: 10%;
    padding: 0;

  }
  h1 {
    font-family: Ubuntu,Roboto, Arial, Verdana;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 40px;
  }

  p {
    font-family: Ubuntu, Roboto, Arial, Verdana;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
  }

  .title-project {
    font-family: Ubuntu, Roboto, Arial, Verdana;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #000000;
  }

  .jobs {
    font-family: Ubuntu,Roboto, Arial, Verdana;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    color: rgba(31, 29, 150, 0.655);
  }


/*Topbar CSS*/

.Topbar {
  margin: 0;
  padding: 0;
}


.Topbar P {
  font-family: Roboto, Arial;
  font-weight: 700;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

  .Topbar-content :hover {
    color: grey;
    cursor: pointer;
  }

  .web-name {
    font-family: Roboto, Arial;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    border-top: 4px solid white;
    border-bottom: 4px solid white;;
    color: #FFF;
    display: block;
    padding:0;
    height: 23px;

  }

  .Topbar {
    position: fixed;
    background-color: rgb(46, 46, 49);
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 100;
    color: white;
    display: flex;
    padding-top: 20px;
  }

  .Topbar-logo {
    display: flex;
    flex: 2;
    margin-left: 25px;

    
  }

  .Topbar-content {
    display: flex;
    flex: 1;
    margin-right: 40px;
  }


  .Topbar-content p {
    margin-right: 15px;
    margin-left: 15px;
  }

  .Topbar-content a {
    text-decoration: none;
    color: white;
  }

  .test {
    width: 100%;
    height: 100%;
  }



