    body {
      margin: 0;
      padding: 0;
      padding-bottom: 100px;
      background-color: rgb(13, 12, 12);
    }

    P {
      font-family: Ubuntu, Roboto, Arial, Verdana;
      font-weight: 700;
      font-size: 15px;
      margin-top: 0;
      margin-bottom: 0;
    }

    h1, h2, h3 {
      font-family: Ubuntu, Roboto, Arial, Verdana;
    }
   

    .music {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 50px;
      margin-left: 20%;
      margin-right: 10%;
      background-color: rgb(14, 12, 12);
    }


    .song {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: rgb(9, 9, 9);
      margin-top: 20px;
      column-gap: 20px;
      row-gap: 50px;
      color: white;
    }
    .page-title{
      font-family: Roboto, Arial;
      color: #fff;
      font-size: 50px;
      border-bottom: 4px solid #fff;
      margin: 0em 0;
      font-weight: 700;
      text-transform: uppercase;
      border-top: 4px solid #fff;
      float: none;
      display: inline;
      box-sizing: border-box;
      margin: 35px auto 50px;
      line-height: 55px;
      margin-left: 35%;
  }

  .text1{
    padding-right: 55%;
    padding-left: 10px;
  }
  .text{
    padding-right: 25%;
    padding-left: 10px;
  }
  
  
 