
/*--------------------------------------------------------------
# Background Pictures 
--------------------------------------------------------------*/

/* Home Profile Picture */
#home {
    background: #040404 url("../img/Home/homepage.webp");
    background-size: cover;
}

/* No backgroud for about and music page */
#about, #music{
    background: #040404;
}

/* Home moilbe view with Lizhi */
@media (max-width: 768px) {
    #home {
        background: #040404 url("../img/Home/lizhi_final.jpg");
        background-size: cover;
        padding-top: 0px;
        
    }
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    padding-top: 65px;
}

/* Slash as general background*/
body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/Others/Slash.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

/* a tag: Links */
a {
    color: #fff;
    text-decoration: none;
    font-family: "Anta", sans-serif;
}

a:hover {
    color: #35e888;
    text-decoration: none;
}

.Edison {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Anta", sans-serif; 
} 



/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/
#header {
    transition: ease-in-out 3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 10;
    overflow-y: auto;
    justify-content: space-between;
    padding: 0 20px;
} 

#header * {
    transition: ease-in-out 1s;
}

#header h1 {
    font-size: 120px;
    margin: 0;
    margin-left: -20px;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Rubik Bubbles", sans-serif;
    order: 0;
}


#header h1 a,
#header h1 a:hover {
    color: #d3cdd2;
    line-height: 1;
    display: inline-block;
}


#header h2 {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Anta", sans-serif;
    
}

#header h2 span {
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
}

#header .social-links {
    margin-top: 40px;
    display: flex;
}

#header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#header .social-links a:hover {
    background: #18d26e;
}


@media (max-width: 992px) {
    #header h1 {
        font-size: 45px;
    }

    #header h2 {
        font-size: 20px;
        line-height: 30px;
    }

    #header .social-links {
        margin-top: 15px;
    }

    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* Header Top */
#header.header-top {
    height: 65px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(44, 42, 42, 0.5);
}

#header.header-top .social-links,
#header.header-top h2 {
    display: none;
}

#header.header-top h1 {
    margin-right: auto; 
    font-size: 36px;
}


#header.header-top .container {
    display: flex;
    align-items: center;
}

#header.header-top .navbar {
    margin: 0;
}


/* Mobile Header for Home Page */
@media (max-width: 768px) {
    #home .container {
        transition: ease-in-out 2s;
            position: relative;
            height: 70vh;
            display: flex;
            z-index: 10;
            overflow-y: auto;
            justify-content: flex-start;
            padding: 0 20px;
    }
}

/*--------------------------------------------------------------
# Navigation Bar
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
    margin-top: 35px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar li+li {
    margin-left: 30px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Anta", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #18d26e;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
    margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 55px;
    /* bottom: 45px; */
    left: 40px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.5s;
    /* border: 2px solid rgba(255, 255, 255, 0.2); */
    border: 4px solid #18d26e;
    border-radius: 10px;
    
}

.navbar-mobile li {
    padding: 12px 30px;
}

.navbar-mobile li+li {
    margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    font-size: 30px;
    position: relative;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/


.rounded-image-container {
    width: 250px;
    /* Adjust as needed */
    height: 250px;
    /* Adjust as needed */
    overflow: hidden;
    border-radius: 50%;
    /* This creates the circular shape */
    position: relative;
    /* Establishes the positioning context for the image */
}

#about {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;

}

#about h2,h3,h4,h5,h6 {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#about ul {
    list-style-type: none;
}

#about ul i{
    font-size: 16px;
    color: #18d26e;
}

.bd-placeholder-img {
    border-radius: 10px;
    overflow: hidden;
}


/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

#resume h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#resume {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;

}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.resume .resume-item h4 {
    line-height: 19px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Anta", sans-serif;
    color: #0cbe33;
    /* color: #18d26e; */
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 5px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume button {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #6d1313;
    color: #fff;
    border: none;
    padding: 5px 15px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.3s;
    text-transform: uppercase;
    border-radius: 50px;

}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #F4AE1A;
    /* background: #18d26e; */
    /* border: 2px solid #18d26e; */
}

/* Remove the default bullets for list*/
.no-bullets {
    list-style-type: none;
    /* Remove default list styles */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

/*--------------------------------------------------------------
# Project
--------------------------------------------------------------*/

.project-list {
    padding-left: 40px;
}

/* Tech Items List */

.tech-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    ;
    display: flex;
}

.tech-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    /* Adjust spacing between items */
    border: 2px solid green;
    /* Green border */
    padding: 5px 10px;
    /* Adjust padding as needed */
    border-radius: 5%;
}

/* Tech Item Mobile view */
@media (max-width: 767px) {
    .tech-items {
        display: block;
        margin: 0 0 10px;
        text-align: center;
    }
}



/* Carousel */
.carousel {
    max-width: 90%;
    margin: 0 auto;
    /* This centers the element horizontally */
}

/* Left and right controls Need to Adjust Color*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: rgb(255, 255, 255);
}

/* Bottom Indicator Styles */
.carousel-indicators {
    /* Add your custom styles here */
    list-style: none;
    /* Remove default list styles */
    text-align: center;
    /* Align indicators to the center */
    padding: 0;
    /* Remove default padding */
}

.carousel-indicators li {
    /* Customize each indicator item */
    display: inline-block;
    width: 10px;
    /* Set the width of each indicator */
    height: 10px;
    /* Set the height of each indicator */
    margin: 0 5px;
    /* Add space between indicators */
    background-color: #aaa;
    /* Set the background color of inactive indicators */
    border-radius: 10%;
    /* Make the indicators round */
    cursor: pointer;
    /* Show pointer cursor on hover */
}

.carousel-indicators .active {
    background-color: #007bff;
}

/* Sliding Images */

.carousel-item {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(2845 / 4688 * 100%); /* Calculate aspect ratio */
  overflow: hidden;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


#project2 h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;;
    display: inline-block;
    padding: 10px 10px;
    background-color: #7a7a7a;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-bottom: -20px;
}


/*--------------------------------------------------------------
# Music
--------------------------------------------------------------*/


#music h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}


#music h2 {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#music h3 {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#music ul {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#wrap {
    width: auto;
    text-align: center;
    margin: 40px 0 45px;
}

#wrap .page-title {
        color: #FFF;
        font-size: 50px;
        font-weight: 700;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        margin: 0em 0;
        line-height: 85px;
        text-transform: uppercase;
        float: none;
        display: inline;
        box-sizing: border-box;
        }


/* Youtube Video -aspect ratio: 16/9 */ 
.video-frame {
    width: 560px;
    height: 315px;
}


/* Mobile View */
@media (max-width: 768px) {
    #wrap .page-title {
        font-size: 40px;
        line-height: 45px;
    }

    .video-frame {
        align-items: center;
        width: 445px;
        height: 250px;
    }

    #music h2 {
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        font-size: larger;
        font-style: normal;
    }
}


/* Right Side: List Group */
.custom-list-group {
    border: 2px solid #2e2e2e;
    border-radius: 10px;
    padding: 8px;
}

.custom-list-group .list-group-item {
    background-color: rgba(37, 37, 37, 0.575);
    border: none;
    margin-bottom: 2px;
}

.custom-list-group .list-group-item:last-child {
    /* remove margin-bottom for last item */
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#contact h3 {
    margin-top: 30px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#contact {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.contact-logos{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-link {
    font-family: "Anta", sans-serif;
    font-size: 17px;

}

/* Styles for the progress bar */
.progress {
    background-color: grey;
    height: 10px;
    width: 100%;
}


/* Mobile View Contact List*/
@media (max-width: 768px) {
    #contact .align-items-center {
        margin-right: auto;
        margin-left: 110px;
      
    }
}
